* {
  box-sizing: border-box;
}

body {
  background: #F2F2F2 !important   ;
  height: 100%;
}

.header_fond{
  max-width: 100%;
  height: auto;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 58px;
  font-family: 'Permanent Marker', cursive;
}

.section {
  background-color:ghostwhite  ;
  justify-content: flex-start;
  height: auto;
  min-height: 89vh;
  padding: 8vh 5% 4vh;
  margin-bottom: 25PX;

}

#s1{
  background-color: #F2D5BB;
}
#s2{
  background-color: #D9AC84;
}
#s3{
  background-color: #F2D5BB;
}
#s4{
  background-color: #D9AC84;
}
#s5{
  background-color: #F2D5BB;
}
#s6{
  background-color: #D9AC84;
}
#s7{
  background-color: #384059;
}



/*puzzle */
.title {
  color: black;
}

.game-container {
  width: 405px;
  height: 505px;
  background: #ececec;
  outline: 1px black solid;
}

.game-header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.moves {
  width: 150px;
  height: 100px;
  padding: 5px;
  padding-top: 40px;
  position: relative;
  line-height: 50px;
  font-size: 36px;
  font-weight: bold;

  &:before {
     content: 'MOVES';
     display: block;
     position: absolute;
     top: 20px;
     left: 5px;
     height: 30px;
     line-height: 30px;
     font-size: 20px;
   }
}

.big-button {
  display: block;
  padding: 10px 20px;
  text-align: center;
  height: 50px;
  line-height: 30px;
  font-size: 30px;
  font-weight: bold;
  background: white;
  border-radius: 16px;
  box-shadow: 0 0 10px #0002;
}

.board {
  width: 405px;
  height: 405px;
  position: relative;
  background: #ddd;
}

.overlay {
  width: 405px;
  height: 405px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: #0004;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile {
  width: 95px;
  height: 95px;
  position: absolute;
  background: white;
  transition: all 0.1s ease-in-out;
  border-radius: 2px;
  background-image: url('images/Puzzle.jpg');
  background-size: 400px 400px;
}